/* signup page */

.profilePage {
  width: 92vh;
  min-height: 81vh;
  margin: 10vh auto;
  margin-top: 5vh;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.profilePage form {
  width: 100%;
  /* max-width: 410px; */
  padding: 15px;
  margin: auto;
}

.profilePage .social-btn {
  font-weight: 100;
  color: white;
  width: 190px;
  font-size: 0.9rem;
}

.profilePage input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.profilePage .svg-inline--fa.icon {
  margin-right: 0.5rem;
}

.profilePage .btn-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

.profilePage .btn-container .buttons {
  padding: 1rem;
  cursor: pointer;
}

header .searchForm {
  margin-right: 20vw;
}

header .greeting {
  margin-right: 20px;
}

header #profile-dropdown {
  margin-right: 50px;
}

.brand-red {
  font-weight: bold !important;
  color: red !important;
}

.brand-min {
  font-size: 0.9rem !important;
  font-weight: bold !important;
}
.avatar {
  width: 15vw;
}
.middle {
  text-align: center;
}
.container-avatar {
  text-align: center;
  display: flex;
  margin-bottom: 26px;
}
.container-name-and-ava {
  transform: translateX(38%);
}
.hidden {
  display: none;
}
label.change-avatar {
  margin-left: 22px;
  border: 1px solid white;
  padding: 5px;
  background-color: #dbdcf1;
  border-radius: 3px;
}
label.change-avatar:hover {
  background-color: rgb(94, 93, 104);
  cursor: pointer;
}
.fullname{
  margin-right: 35px;
    font-size: 23px;
    
}
input#fullname {
  border-radius: 5px;
  height: 36px;
  border: 1px solid rgb(30, 49, 153);
  min-width: 331px;
  width: 338px;
}
.container-changePass{
  display: flex;
  justify-content: space-around;
  margin-top: 21px;
}
.boder-pass{
  padding: 8px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid blue;
    min-width: 284px;
    
}
.container-edit{
  display: flex;
}
.inside-container-changePass{
  display: flex;
}
.button-edit{
  height: 100%;
  cursor: pointer;
}